header {
  padding-bottom: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.avatar-con-header {
  height: 30px;
  border-radius: 50%;
}
.avatar-con-main {
  max-height: 400px;
}

.black-background {
  background-color: black;
}

.white-background {
  background-color: white;
}

.block-main {
  margin-top: 100px;
}

.advantages-con {
  height: 200px;
  width: 200px;
}
/* для удаления отступов у таблиц состоящих из row/col */
.row-0,
col-0 {
  margin-left: 0;
  margin-right: 0;
}

.footer-size {
  padding-top: 200px;
  padding-bottom: 80px;
}

.fucs-background {
  background: rgb(198, 195, 181);
  background: linear-gradient(
    90deg,
    rgba(198, 195, 181, 1) 0%,
    rgba(255, 0, 255, 1) 35%,
    rgba(198, 195, 181, 1) 100%
  );
}
.olive-background {
  background-color: #ccff00;
}

.footer-container {
  min-height: 70vh;
}

.text-size {
  font-size: 1.2vh;
}

.button-color {
  text-decoration: none;
  color: black;
}

.icon-title {
  font-size: 40px;
  line-height: 1.1;
}

.modalblock-container {
  width: 500px;
}

#route-list {
  margin-top: 10px;
  border: 1px solid;
}

.one-route,
.one-guide {
  font-weight: 700;
  font-size: 14px;
}

.route-name {
  padding: 0 10px;
  border-right: 1px solid;
  margin: 0;
}

.route-desc {
  padding: 0 10px;
  border-right: 1px solid;
  margin: 0;
}

.route-object {
  padding: 0 10px;
}

.hide {
  display: none;
}

.trip-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#trip-modal {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
}

.hide {
  display: none;
}

.trip-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#trip-modal {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
}

.map {
  height: 700px;
}

.guide-name {
  text-align: center;
  width: 100px;
}
