header{
    padding-bottom: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.avatar-con-header {
    height: 30px;
    border-radius: 50%;
}
.avatar-con-main {
    max-height: 400px;
}

.black-background {
    background-color: black;
}

.block-main {
    margin-top: 100px;
}

.advantages-con {
    height: 200px;
    width: 200px;
}
/* для удаления отступов у таблиц состоящих из row/col */
.row-0, col-0 {
    margin-left: 0;
    margin-right: 0;
}